services:
  grass:
    image: stempst0r/grass-webtop:latest
    container_name: grass-webtop
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin          # Replace with your timezone
      - PASSWORD=grass123         # change this!
      # - CUSTOM_USER=abc
    volumes:
      - grass_config:/config
    ports:
      - "3000:3000"   # HTTP
      - "3001:3001"   # HTTPS
    shm_size: "1gb"
    restart: unless-stopped

volumes:
  grass_config:
